
html{
  background-color: #D8D8D8;
}
article{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
p{
  text-align: left;
  color:#ffffff;
  font-family:'Rosario', sans-serif;
  font-size:14pt;
  background-color:#000000;
  max-width:700px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.nav{
  text-align: center;
  padding:10px;
}
.navButtons {
font-family:'Book Antiqua';
font-size:20pt;
color: black;
text-decoration: none;
float: left;
width: 50%;
background-color: red;
padding-bottom: 10px;
border-radius: 10px;
}
.navButtons:hover{
  background-color:#E11B06;
  color: white;
}
li{
  list-style-type:none;
}
#banner{
  border-radius: 5px;
  width:100%;
  height:auto;
}
#singleImage {
    border-radius: 5px;
    max-width:80%;
    height:auto;
}
h2{font-size: 30px;
}
h1{
  font-size: 40px;
  padding-top: 50px;
}
h1,h2{
    font-family:Georgia, serif
    align-content:center;
    color: #000000;
}
.grid-robot{
    display: grid;
    grid-gap: 10px;
    grid-color:#ffffff;
    background-color: #000000;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    padding: 10px;
}
.grid-robot-items {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
#robot-paragraphs{
  color:#ffffff;
  font-family:'Rosario', sans-serif;
  font-size:14pt;
  max-width:600px;
  border-radius: 10px;
  text-align: left;
}
#robot-header{
  color: #ffffff;
  align-content: center;
}
.contact-reasons{
  padding:10px;
}
.reasons{
  font-family:"Impact,Charcoal,sans-serif";
  color:#E6431A;
  list-style-type: none;
  padding:5px;
  font-size: 20px;
  background-color: #D8D8D8;
}

@media only screen and (max-width:600px){
  .navButtons {
    width:100%;
}
  .grid-robot{
    float:left;
    grid-template-columns: 100%;
  }
  #singleImage{
    max-width:100%;
  }


}
